/* ----- Start of Navbar CSS ----- */

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #BD5D37; /* Orange */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    
  }

  .sidenav img{

    padding: 6px 8px 6px 16px;
    width:150px; 
    height:150px;

  }

  /* The navigation menu teacher's name */
  .sidenav h2{

    color: #efefef;
    font-size: 25px;

  }

  /* The navigation menu teacher's school */
  .sidenav h4{
  
    color: #efefef;
    font-size: 15px;
    
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    
    color: #B5B5B5;
    display: block;
    
    
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #4D4F5C;
    background: #E8E9EC;
    
  }

  .sidenav a:focus {
   
    background: #E8E9EC;
  
  }
  

  /* Style page content */
  .main {
    margin-left: 350px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }


  #sidenav-home{

    margin-top: 10px;

  }

  


/* ----- End of Navbar CSS ----- */

/**/

/* ----- Start of Login/Signup CSS ----- */

/* Creats a split of colors for background */
#login_background{

  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #BD5D37;
  z-index: 1;

}

/* Splits content into half  */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Content for the left side */
.left {
  left: 0;
  background-color: #BD5D37;
}

/* Content for the right side */
.right {
  right: 0;
  background-color: #fff;
  
}

/* Centers content for left or right side */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h3{

  font-family: Roboto;
  color: #E8E9EC;

}

#main_name{

  font-family: Roboto;
  font-size: 50px;
  color: #BD5D37;

}

.btn, .btn:hover, .btn:active, .btn:visited,.btn:focus {
  background-color: #BD5D37 !important; 
  border-color: #BD5D37;
  border-radius: 2px;
}



/* ----- End of Login/Signup CSS*/

/**/

/* ----- Start of content title CSS ------ */

/* #content-title{

  padding-top: 100px;
  padding-bottom: 20px;

} */

.contentTitle {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) auto 18fr;
  align-items: center;
  text-align: center;
  grid-gap: 10px;
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  color: 4D4F5C;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.contentTitle:before,
.contentTitle:after {
  content: '';
  border-top: 1px solid;
}

/* ----- End of Content Titles CSS ----- */


/**/


/* ----- Start of Home: Cards CSS ----- */

.cardWrapper {
  /* shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #C4C4C4;
  margin: 15px;
  
}

/* On mouse-over, add a deeper shadow */
.cardWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardWrapper img{
  width: 150px; 
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}

/* Add some padding inside the card container */
.cardContainer {
  /* padding: 2px 16px;  */
  width: 600px;
  height: 200px;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;

}

.cardContainer h4{

  font-family: Roboto;

}

.cardContainer p{

  font-family: Roboto;
}

/* .card-img{

  width: 300px !important;
  height: 200px !important;

} */

/* ----- End of Card Css ----- */


/**/


/* ------ Start of Basa Bilang Videos CSS ----- */
/* 
.videos{
  margin: 0;
  display: grid;
  /* grid-template-columns: 30% 100% 30%;   */
  /* grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
    "section1"
    "section2"
    "section3";
}

section:nth-of-type(1){
  grid-area: section1;
  background-color: #4D4F5C
}

section:nth-of-type(2){
  grid-area: section2;
  background-color: #BD5D37
}

section:nth-of-type(3){
  grid-area: section3;
  background-color: aqua

} */

.bb-heading{
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  
}

.bb-heading::after{
  content: "";
  width: 10rem;
  height: .8rem;
  background-color: #BD5D37;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

#bb-card-wrap{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#bb-card{
  width: 20rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card .basa-bilang-icon{

  width: 100%;
  height: 20rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);

}

.bb-content-description{

  font-size: 1.0rem;
  margin: 1.5rem;
  font-style: italic;
  text-align: center;

}

.card #bb-btn{
  
  padding: 1rem 2.5rem;
  background-color: #FDFCEF !important;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1.0rem;
  transition: all .5s;

}

.card #bb-btn:hover{
  
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);

}

.card #bb-btn:active{
  
  transform: translateY(0);
  box-shadow: none;

}

@media screen and (min-width: 700px){
    #bb-card-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    #bb-card{
      margin: 2rem;
      transition: transform .5s;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
      }
        
      #bb-card:nth-child(1){
        animation: fadeIn .5s .5s backwards;
      }

      #bb-card:nth-child(2){
        animation: fadeIn .5s 1.0s backwards;
      }

      #bb-card:hover{
        transform: scale(1.05);
        background-color: #C7EDE6;
      }


} 


/* For Videos List*/
.card-list{
  padding-top: 20px;
}

.video-group-heading{
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
}

.video-group-heading::after{
  content: "";
  width: 10rem;
  height: .8rem;
  background-color: #fbe555;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

#video-card-wrap{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.video-item-card{
  width: 60rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin:0;
  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media screen and (min-width: 700px){

  .video-item-card{
    transition: transform .5s;
  }

  .video-item-card:hover{
  
    transform: scale(1.05);
    background-color: #C7EDE6;
  
  }

  

}



.video-thumbnail{
  
  width: auto;
  height: 10rem;
  object-fit: covers;
  /* clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); */

}

.card .video-item-title{

  font-size: 20px;

}

.vid-thumbnail-container{

  width: 200px;
  height: auto;
  text-align: center;

}


/* For Video Suggestions*/
#suggestion-card-wrap{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.suggestion-item-card{
  width: 20rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 2px;
  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.suggestion-thumbnail{
  
  width: 100%;
  height: auto;
  object-fit: covers;
  /* clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%); */

}

.card .suggestion-item-title{

  font-size: 15px;

}

.card .suggestion-item-body{

  padding: 0px;
  padding-left: 20px;

}

.overflow-control{

  overflow-x: hidden;

}


/* .video-control{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: .5rem;
  border-top: 1px solid rgba(0,0,0,.1);
} */


.video-unit{
  padding-right: 25px;
  font-weight: bold;
}


/* .unit-right{

  float: left;
  width:100%;
  text-align:right;

} */




/* ----- End of Basa Bilang Videos CSS ----- */


/**/


/* ----- Start of Image Hover menu CSS ----- */

.hovereffect {
  width: auto;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* ------ End of Image Hover menu CSS ----- */


/* */


/* ------ Start of Student Performance CSS ----- */

.upload-area{

  display: inline-block;
  text-align: center;
  padding-top: 100px;
  padding-left: 75px;

}

.upload-performance-button{

  margin-top: 30px;


}



/* ------ End of Student Performance CSS ----- */


/* */

/* ----- Start of Errors Layout CSS ----- */


 /* #error-body{

  background: #ffffff;
  
  
}



.error-container{
  max-width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  margin-left: 200px;
  
}*/

.error-icon-403{

  max-width: 250px;
  max-height: 250px;
  
}

.error-icon-404{

  max-width: 270px;
  max-height: 250px;
  
}

.error-icon-500{

  /* width: 250px;
  height: 250px; */
  max-width: 250px;
  max-height: 250px;
}

#error-message-h3{

  margin-top: 20px;
  margin-bottom: 20px;
  color:#FDFCEF;
  text-transform: uppercase;

}

#error-message-h6{

  margin-top: 20px;
  margin-bottom: 20px;
  color:#FDFCEF;

}

/* #error-home-btn{

  margin-top: 40px;

} */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 


/* ------ End of Errors Layout CSS ----- */

/* */

/* ------ Start of Upload Videos CSS ----- */


.upload-video-btn{

  padding: 10px;
  background-color: #B5B5B5;
  color: #fff;

}

.upload-thumbnail-btn{

  padding: 10px;
  background-color: #B5B5B5;
  color: #fff;

}






/* ------ End of Upload Videos CSS ----- */

/* */

/* ------ Start of Play Video CSS ----- */

/* For video suggestions*/
.current-video-set{
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* video area width and height */
.video-player{
  width: 100%;
  height: auto;
}

/* Padding for all content under video player*/
.video-player-padding{
  padding: 10px;
}

#current-video-title{

  padding-left: 20px;

}




/* ------ End of Play Video CSS ----- */

/* */

/* ----- Start of Misc CSS ----- */


/* For checking layout*/
/* div{

  border-style: solid;
  border-color: #4D4F5C;

} */

.report{
   max-width:10%;
    height:auto;
}

input, label {
  display:block;
}

.videoRow{

  padding-top: 50px;

}


.container1{

  background-color: grey;
  opacity: 50%;

}

.carousel-inner > .carousel-item > img {
  margin: 50 auto;
  height: 300px;
  width: 150px;
} 

.carousel-inner > .carousel-item > .hovereffect > img {
  margin: 50 auto;
  height: 300px;
  width: 150px;
} 

/* Adds a top space between bootstrap rows */
.top-buffer { margin-top:25px; }


/* Adds a bottom space between bootstrap rows */
.bottome-buffer { margin-top:25px; }


#video-set-title{

  color: #BD5D37;
  padding-left: 20px;
  
}

/* Inherit icon color for a tag, Video download icons*/
#download-videos{
  color:inherit;
}

/* Change download icon on hover, Video download icons */
.fa-download:hover {
  color: #BD5D37;
}

/* Adjust size of school img in basa bilang partners page*/
#school-img{

  width: 200px;
  height:200px;

}

#btn-logout{
  
  background-color: #978b7d !important;
  color: #e5e5e5;
  
}

/* .col-md-6{
  border-style: solid !important;
  border: #EE3E54;
} */

.card-img-home{

  width:300px;
  height: 200px;
  
}

.card-img-feedback{

  width:250px;
  height: auto;
  display: block;
  margin: auto;
  
}

.card-img-video{

  width:450px;
  height:auto;
  padding: 10px;

}

/* ----- End of Misc CSS ----- */


/**/


/* ----- ----- */